@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');

::-webkit-scrollbar {
    display: none;
}

*{
    font-family: 'Nunito', sans-serif;
}

body{

    margin: 0;
    background-image:url("../img/regions/vindalsace.jpeg");
    background-repeat: no-repeat;
    background-position: top  ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    min-height: 95vh;
    z-index: -1;
    background-attachment: fixed;

}
header{
    min-height: 95vh;
}

@media (max-width: 1100px){

    #transparent_div{
        height: 80vh;
    }

}

body p{
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    margin-bottom: 0;
}



section{
    background-color: white;
    margin: -5% 3.5em 0 3.5em;
    padding: 25px 0 0 0;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

body h2{
    font-family: 'Niconne', cursive;
    font-size: 4em;
    text-align: center;
    font-weight: lighter;
    padding-top: 0;
    margin: 20px;
    flex: 100%;
}
.fewWords{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.regionDescription{
    text-align: justify;
    margin: 5% 5% 5% 5%;
    padding: 20px;
}


#PhotoGallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}

.img1,.img2,.img3,.img4,.img5, .img6{
    width: 400px;
    height: 400px;
    overflow: hidden;
    background-size: cover;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.img1{
    background-image: url("../img/AlsacePic/strasbourg_autumn_petite_france_2_europe_is_our_playground.jpg");
    background-position: center;
}
.img2{
    background-image: url("../img/AlsacePic/niedermorschwihr-photo-zvardon-conseil-vins-alsace.jpg");
    background-position: center;
}
.img3{
    background-image: url("../img/AlsacePic/creek-medieval-wine-village-kaysersberg-france-ALSACE0617.jpg");
    background-position: center;
}
.img4{
    background-image: url("../img/AlsacePic/strasburg_a.jpg");
    background-position: center;
}
.img5{
    background-image: url("../img/AlsacePic/alsace.jpg");
    background-position: center;
}

.img6{
    background-image: url("../img/AlsacePic/World___France_Christmas_in_Alsace__France_073434_.jpg");
    background-position: center;
}

#PhotoGallery div:hover{
    box-shadow: 0 8px 8px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
}
