@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');

::-webkit-scrollbar {
    display: none;
}

a, a:hover{
    text-decoration: none;
}

body{

    margin: 0;
    background-image:url("../img/regions/climat_bourgogne.jpg");
    background-repeat: no-repeat;
    background-position: top  ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    min-height: 95vh;
    z-index: -1;
    background-attachment: fixed;

}
header{
    min-height: 95vh;
}
@media (max-width: 1100px){

    #transparent_div{
        height: 80vh;
    }
    a,a:hover{
        text-decoration: none;
    }
    body{

        margin: 0;
        background-image:url("../img/regions/climat_bourgogne.jpg");
        background-repeat: no-repeat;
        background-position: right  ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        max-width: 100%;
        min-height: 95vh;
        z-index: -1;
        background-attachment: fixed;

    }

}
body p{
    font-family: 'Nunito', sans-serif;
    font-size: x-large;
}


section{
    background-color: white;
    margin: -5% 3.5em 0 3.5em;
    padding: 25px 0 0 0;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);

}

body h2{
    font-family: 'Niconne', cursive;
    font-size: 4em;
    text-align: center;
    font-weight: lighter;
    padding-top: 0;
    margin: 20px;
}
.fewWords{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.SeparatorOne{
    margin-top: 4%;
}

.regionDescription{
    text-align: justify;
    margin: 5% 5% 5% 5%;
    padding: 20px;

}

.Separator{
    margin: 0 5% 5% 5%;

}

#SepagePicture{
    margin: 0;
    background-image: url("../img/grapeSepage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 30vh;
    max-height: 40vh;
    width: 100%;

}

.littleIntro{
    text-align: center;
    margin: 0 5% 5% 5%;
    overflow: hidden;
    z-index: 0;
}
#Wines{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#WinePicture{
    margin: 0;
    background-image: url("../img/WinePicture.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    min-height: 30vh;
    max-height: 40vh;
    width: 100%;

}
.photoAuthor{
    text-align: right;
    color: white;
    font-size: small;
    margin-right: 1%;
}

#source{
    margin: 0;
    padding: 30px;
    text-align: center;

}
