
*{
    font-family: 'Nunito', sans-serif;
    font-size: 1.03em;
}
body{
    margin: 0;
    background-color: #1D0F0F;
    background-image: url("../img/Degustate/cheese&wine.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
.transparent{
    height: 80vh;
}
.welSentence{
    font-family: 'Niconne', cursive;
    font-weight: lighter;
    text-align: center;
    font-size: 4em;
    color: white;
    padding: 0.4em;
}

section{
    background-color: white;
    margin: -5% 3.5em 0 3.5em;
    padding: 25px 0 0 0;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}
h2{
    font-family: 'Niconne', cursive;
    font-weight: lighter;
    font-size: 4em;
    text-align: center;
}
.goldenRule{
    text-align: justify;
    padding: 0 5% 0 5% ;
}

li{
    list-style: none;
    margin-bottom: 0.5em ;
}
.examples{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.introExamples{
    text-align: center;
    flex: 100%;
}


.dish{
    padding: 1em 2em 2em 2em;
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    border-radius: 25px;
    width: 30vw;

}
h3{
    font-family: 'Niconne', cursive;
    font-weight: lighter;
    font-size: 3em;
    margin: 0 0 0.5em 0;
}
.text{
    padding: 2em 0 0 0;

    text-align: center;
}