.MD_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    outline: none;
}

.submitButton {

    background-color: #494962;

    padding: 1em 1em;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2em;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12));
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.submitButton:hover{
    box-shadow: 0 6px 6px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
    cursor: pointer;

}

.ripple{
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
}

.ripple:after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10,10);
    opacity: 0;
    transition: transform 0.5s,opacity 1s;

}
.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}