@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');

::-webkit-scrollbar {
    display: none;
}
::-moz-focus-inner {border:0;}
:focus {outline:none;}

a{
    text-decoration: none;
    font-size: large;
    font-family: 'Nunito', sans-serif;
}

@media (min-width : 1101px) {
    #MobileMenu{
        display: none;
    }
}
    a, a:link, a:visited{
        color: #484C4D;
        text-decoration: none;
    }
    
    #PageTOP{
        padding: 0;
        height: 20vh;
        display: flex;
        align-items: baseline;
    }
    
    .bigTitle{
        flex-grow: 2;
        margin: 0;
    }
    
    .bigTitle h1{
        font-family: 'Niconne', cursive;
        color: white;
        font-size: 70px;
        font-weight: lighter;
        padding-left: 4%;
        padding-top: 4%;
        margin: 0;
    }
    .theEmpty{
        flex:3
    }
    
    #NavList{
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    
    }
    
    
    /*----------------------- DROPDOWN Menu -----------------------*/
    
    
    .dropBtn, #dropDownBtn{
        background-color: rgba(255,255,255,0);
        color: white;
        padding: 15px;
        font-size: 22px;
        border-radius: 10px;
        outline: none;
        border: rgba(0,0,0,0) 2px solid;
        transition: border 0.6s, background-color 0.6s;
    }
    .dropBtn:hover, #dropDownBtn:hover{
        box-shadow: 0 5px 5px rgba(0,0,0,0.3);
        background-color: rgba(0,0,0,0.3);
        border-radius: 10px;
        border: white 2px solid;
        cursor: pointer;
    
    
    }
    .dropDownDiv{
        margin-right:15px;
        margin-left: 15px;
    }
    
    #dropDownContent{
        display: none;
        position: fixed;
        background-color: #f1f1f1;
        min-width: 160px;
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    #dropDownContent a{
        padding: 20px 16px;
        text-decoration: none;
        display: block;
    }
    


@media (max-width: 1100px) {
    #PageTOP{
        display: none;
    }

    .bigTitleMobile h1{
        font-family: 'Niconne', cursive;
        color: white;
        font-size: 60px;
        font-weight: lighter;
        text-align: center;
        margin: 0;
        padding-top:5%;
    }

    #floating{

        z-index: 100;
        background-color: white;

        width: 60px;
        height: 60px;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;

        right: 5%;
        bottom: 5%;
        border-radius: 50%;
        box-shadow: 0 4px 5px rgba(0,0,0,0.4);
        transition: box-shadow 0.4s;

    }
    #floating:hover{
        box-shadow: 0 10px 15px rgba(0,0,0,0.4);
        cursor: pointer;
    }
    #touchMenu{
        z-index: 250;
        position: fixed;
        bottom: 0;
        left: 10%;
        width: 80vw;
        height: 50vh;
        background-color: white;
        box-shadow: 0 10px 15px rgba(0,0,0,0.4);
        margin-bottom: -20px;
        border-radius: 10px;


    }
    #touchMenuContainer{
        margin: 8%;
        display: flex;
        flex-wrap: wrap;


    }
    #touchMenuContainer a{
        flex: 100%;
        font-size: x-large;
        color: #3c3f40;
        transition: 0.4s color;

    }
    #touchMenuContainer a:hover{
        color : #6200EE;

    }
    .touchMenuItem{
        padding: 10px;
        border-radius: 6px;
        background-color: rgba(0,0,0,0);
        transition: 0.4s background-color;
    }


    .touchMenuItem:hover{
        background-color: #ECE0FD;

    }

}