@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');

a{
    outline: none;
}
button{
    outline: none;
}
*{
    border: 2px black;
    font-family: 'Nunito', sans-serif;
}
header{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

body {
    margin: 0;
}


h3{
    color : #484C4D;
    text-align: center;
    font-size: xx-large;
    flex: 100%;
    padding-top: 1em;

}
h3{
    margin: 0;
}
li{
    list-style-type: none;
    color: white;
}
p{
    flex: 100%;
    text-align: center;
    color : grey;
    font-size: x-large;

}
.caption{
    text-align: center;
    padding : 0.6em;
    font-size: large;
}
.welSentence{
    font-family: 'Niconne', cursive;
    font-weight: lighter;
    text-align: center;
    font-size: 3em;
    color: white;
    padding: 0.4em;
}

#welcomeTextBtn{
    display: flex;
    justify-content: center;
    margin: 20%;
}

#teleportingBtn{

    background-color: rgba(255,255,255,0.2);
    color: white;
    padding: 15px;
    font-size: 22px;
    border-radius: 10px;
    outline: none;
    border: rgba(0,0,0,0) 2px solid;
    transition: border 0.6s, background-color 0.6s;

}
#teleportingBtn:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.01);
    border-radius: 10px;
    border: white 2px solid;
    cursor: pointer;
}

.ImageContainer{
    background-image: url("../img/karsten-wurth-karsten-wuerth-49aQgxkOrO4-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: bottom  ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
}

.service{
    background-color: white;
}


/*------------------------------- WINE */
#Wine{
}
/*------------------------------- REGIONS */
#Regions{
    background-color: #F7F7F7;
    outline: none;
}
#RegionsIMG{
    outline: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px;

}
.region{
    outline: none;
    background-color: white;
    margin: 1em;
    padding-bottom: 10px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.region:hover{
    outline: none;
    box-shadow: 0 8px 8px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
    cursor: pointer;
}



.stepLeft, .stepRight{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 8%;

}


.leftExplanation{
    text-align: right;
}

.stepTitleLeft, .stepTitleRight{
    font-size: x-large;
    color: #484C4D;
    margin: 0;
}

.stepDescription{
    text-align: justify;
    color: #595d5e;
}

.emptyStep,.rightExplanation, .leftExplanation{
    flex: 40%;

}

.stepPic{
    flex: 20%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content:space-around ;


}




#ContactUs{

    background-color: #494962;
    outline: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cardContactUS{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    margin: 5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.titleCard{
    background-color: #987B03;

    width: 60%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.25);
    border-radius: 10px;
    margin-top: -8%;
}
/*--------------- Styling form ----------------- */

.titleOnBlack{

    text-align: center;
    color: #ffffff;
    padding-bottom: 9%;

}

#contact{
    margin : 30px;
}
.MD_form{
    position: relative;
    margin-bottom: 45px;



}

input{
    /*background-color: #F7F7F7;*/
    font-size: 18px;
    padding : 10px 10px 10px 5px;
    display: block;
    width: 20em;
    border: none;


}
input:focus
{
    outline: none;
}

label{

    color: black;
    font-size: 18px;
    position:absolute;
    pointer-events: none;
    left: 20px;
    top : 10px;
    transition: 0.3s ease all;

}

input:focus ~ label, input:valid ~ label     {
    top: -20px;
    font-size:14px;
    color:#494962;
}


.bar  {
    position:relative;
    display:block;
    width:23.5em;
}

.bar:before, .bar:after   {

    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#494962;
    transition:0.25s ease all;
}

.bar:before {
    left:50%;
}
.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

/*----------------------------- MD Button -------------------------*/
.MD_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    outline: none;
}

.submitButton {

    background-color: #494962;

    padding: 20px 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2em;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.submitButton:hover{
    box-shadow: 0 6px 6px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
    cursor: pointer;

}

.ripple{
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
}

.ripple:after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10,10);
    opacity: 0;
    transition: transform 0.5s,opacity 1s;

}
.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer li{
    color: #595d5e;
    text-align: center;
}
footer p{
    color: #595d5e;
}

#projectLinkContainer{
    display: flex;
    justify-content: center;
    padding: 3vh 10vw 3vh 10vw;
}
#projectLink{



}