@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');

#touchMenuContainer a{
    font-family: 'Nunito', sans-serif;
}

body{
    margin: 0;
    z-index: -1;
    background-image: url("../img/Degustate/4fourWines.jpg");
    background-repeat: no-repeat;
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
}

h2{
    font-family: 'Niconne', cursive;
    font-size: 100px;
    font-weight: lighter;
    flex: 100%;
    text-align: center;
    color: #3c3f40;
}

#countDownDivision{
    height: 20%;
}
#textCountdown{
    height: 20%;
    font-weight: lighter;
    font-size: 4em;
    font-family: 'Niconne', cursive;
    text-align: center;
    color: white;
    margin: 0;

}

#countDown{
    font-weight: lighter;
    font-size: 4em;
    font-family: 'Niconne', cursive;
    text-align: center;
    margin: 0;
    padding-top:0.5em ;
    color: white;
    height: 25%;
}
#transparent_div{
    height: 55%;
}


section{

    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fbfbfb;
    font-family: 'Nunito', sans-serif;

}

.transparent{
    z-index: 1;
    height: 80vh;
}

#pageDescription{
    flex: 100%;
    text-align: center;
}
#pageDescription p{
    font-size: x-large;
}

.region{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tastePlace{

    background-color: white;
    text-align: center;
    padding: 0.5em;
    margin: 3em;
    box-shadow: 0 5px 5px rgba(0,0,0,0.35);

    border-radius: 10px;
}

/*------------------------ MD_button------------------------*/
.MD_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    outline: none;
}

.submitButton {

    background-color: #5e5a58;
    color: #fff;

    font-size: 1.2em;

    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);

    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.submitButton:hover{
    box-shadow: 0 6px 6px rgba(0,0,0,0.25);
    cursor: pointer;

}

.ripple{
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
}

.ripple:after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10,10);
    opacity: 0;
    transition: transform 0.5s,opacity 1s;

}
.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}
